@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.html ul {
  list-style: disc;
}

/* Styling untuk kontainer chart */
.chart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Styling untuk node */
.node {
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 200px; /* Sesuaikan lebar node sesuai kebutuhan */
}

/* Styling untuk tingkat kepala */
.level-1 {
  background-color: #3498db;
  color: #fff;
}

/* Styling untuk tingkat wakil */
.level-2 {
  background-color: #2ecc71;
  color: #fff;
}

/* Styling untuk tingkat staf */
.level-3 {
  background-color: #f39c12;
  color: #fff;
}

/* Styling untuk gambar */
.node img {
  border-radius: 50%; /* Membuat gambar bulat */
  width: 100px; /* Sesuaikan ukuran gambar sesuai kebutuhan */
  height: 100px; /* Sesuaikan ukuran gambar sesuai kebutuhan */
  margin-bottom: 10px;
}
